@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@font-face {
  font-family: "Helvetica Neue";
  src: url("../../assets/Tipografia-Helvetica-Neue/HelveticaNeueLTStd-HvCn.otf")
    format("truetype");
  font-weight: bold;
  font-style: normal;
}

.section-container {
  background-image: url("../../assets/stock.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 70vh;
}
.title-motors {
  font-family: "Helvetica Neue";
  font-size: 8vh;
}
.subtitle {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
}
.middle {
  width: 50%;
  display: flex;
  flex-direction: column;
}
