.contact-container {
  padding-top: 10vh;
}
.contact-sections {
  display: flex;
  justify-content: space-between;
}
.img-contact {
  width: 100%;
}
.contact-info {
  width: 40%;
  margin: auto;
}
.info {
  display: flex;
}
.icon {
  font-size: 50px;
  color: var(--var-color-rojo);
}
.title-contact {
  text-decoration: none;
  position: relative;
}

.title-contact::after {
  content: "";
  position: absolute;
  bottom: -5px;
  width: 14%;
  height: 5px;
  background-color: var(--var-color-rojo);
  border-radius: 3px;
  left: 43%;
}
.contact-form {
  width: 40%;
}
