.navbar {
  background: linear-gradient(to bottom, #d30000, #950000);
  position: fixed !important;
  z-index: 4;
  display: flex !important;
  width: 100%;
  height: 12vh !important;
}
.logo {
  width: 35vh;
}
.letras_nav {
  color: white !important;
}
.letras_nav.dropdown-item:hover {
  background-color: #950000;
}
.dropdown-menu {
  background: linear-gradient(to bottom, #d30000, #950000);
}
.dropdown-item:hover {
  background-color: black;
}
.nav-navar {
  color: white;
}
.nav-link {
  color: white !important;
}
