.navbar {
  background: linear-gradient(to bottom, #d30000, #950000);
  position: fixed !important;
  z-index: 4;
  width: 100%;
  height: 9%;
  justify-content: space-around;
}
.logo {
  width: 20%;
}
.navbar-collapse {
  flex-grow: 0 !important;
}
.nav-link {
  color: white !important;
}
.dropdown-menu {
  background: linear-gradient(to bottom, #d30000, #950000);
}
.dropdown-item:hover {
  background-color: #950000;
}
.linea {
  width: 100%;
  height: 10%;
  background-color: white;
  position: fixed;
  z-index: 3;
}
